.container {
    width: 100%;
    margin-bottom: 100px;
}
.container h3 {
    color: #be5c6b;
    font-size: 1.5rem;
}
.contacts {
    border: 1px solid #bed5f3;
    list-style: none;
    margin-top: 20px;
    padding: 5px;
    border-radius: 15px;
}
.message {
    background-color: #4f6d9e;
    height: 100px;
    line-height: 100px;
    color: #2c3f5d;
    text-align: center;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}
@media (max-width: 500px) {
    .container h3 {
        font-size: 1.3rem;
    }
    .message {
        font-size: 1rem;
    }
}